<footer class="page-footer font-small " style="background-color: #30343F;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #D1E7DD;">Projeto Web2 2021-2:
    <a href="#" style="color: #00CC99;"> Rubens Durães Nascimento</a>
  </div>
  <!-- Copyright -->

</footer>