<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="/img/literacritico-logo.png" width="200px" class="img-responsive logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        
        <a class="nav-link active" aria-current="page" href="http://localhost:8080">Home</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/tecnologias">Tecnologias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/desenvolvedor">Desenvolvedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/projeto">O projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/admin/Livros">Livros</a>
        </li>
        {{#if user.eCritico}}

          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Área do Crítico
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="http://localhost:8080/admin/novoLivro" >Novo Livro</a>
          <a class="nav-link" href="http://localhost:8080/admin/novaCritica" >Postar Critica</a>
          <a class="nav-link" href="http://localhost:8080/users/registerCritico" >Criar novo perfil de crítico</a>
        </div>
      </li>

        {{/if}}
        
        
      </ul>

    </div>
    
          {{#if user}}
            <div class="col align-self-end" style="margin-right: 20px;">
                <h6 class="row justify-content-end" style="color: #0e97ce;font-size:large;">Olá {{user.nome}}!</h6>
                <div class="row justify-content-end">
                  <a class="navbar-brand  row justify-content-end" href="http://localhost:8080/users/edit/{{user.id}}" style="color: #0e97ce;font-size:small; margin:0%; padding:0%;">Editar nome</a>
                  <a class="navbar-brand  row justify-content-end" href="http://localhost:8080/users/logout" style="color: #ff1500; font-size:small;margin:0%; padding:0%;">Logout</a>
                </div>
            </div>
            
        {{else}}
        {{/if}}
  </div>
</nav>