{{#if success_msg}}
    <div class="alert"  style="background-color: #00CC99; color:azure" >{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}